.feature_card {
    background: rgba(158, 158, 158, 0.12);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px; 
    width: 130px;
}

.feature_card_img {
    position: relative;
    width: 30px;
    height: 30px;
}

.feature_card_text {
    color: #323232;
    font-size: 14px;
    font-weight: 600;
}

@media screen and (min-width: 600px) {
    .feature_card {
        height: 120px;
        width: 160px;
    }

    .feature_card_img {
        height: 45px;
        width: 45px;
    }
}